<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>To Do list</title>
</head>
<body>
    <div id="myapp">

        <input type="text" v-model="newTask" @keyup.enter="addTask" placeholder="Aggiungi alla lista">
        <button @click="addTask">Aggiungi Task</button>


        <div v-if="tasks.length === 0">La tua lista è vuota! Complimenti vai a rilassarti</div>
        <ul v-else>
            <div v-if="tasks.done === true">
                <li v-for="task, i in tasks" :key="i">
                    <s>{{ task.text }}</s> 
                    <span @click="removeItem(i)">&#9830</span>
                </li>
            </div>

            <div v-else>
                <li v-for="task, i in tasks" :key="i">
                    {{ task.text }}
                    <span @click="removeItem(i)">&#9830</span>
                </li>
            </div>
        </ul>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
</body>
</html>